RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.menmens\.ru$ [NC]
RewriteRule ^(.*)$ http://menmens.ru/$1 [R=301,L]
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]